change-id = 102579
profile = "user"

[llvm]
targets = "AArch64;RISCV;X86"

[build]
compiler-docs = true
docs = false
locked-deps = true

[rust]
channel = "nightly"
lld = true
jemalloc = true
debuginfo-level-std = 2
remap-debuginfo = true
new-symbol-mangling = true
split-debuginfo = "off"

# we gonna repack anyways so time spent on compression here is wasted
[dist]
compression-formats = ["gz"]
compression-profile = "fast"
